


button {
	 -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Georgia;
  color: black;
  font-size: 11px;
  background: #67BCDB;
  padding: 5px 18px 8px 18px;
  border: solid #ffffff 1px;
  text-decoration: none;


}



h1 {
	font-family: Lato; 
	color: black; 
	font-size: 28px; 

	
}
p {
	font-family: Lato;
	color: black; 
	font-size: 16px; 
}
form {

	font-family: Lato; 
	font-size: 16px; 
	color: black; 
}


